@mixin my-flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin centratura {
    margin: 0 auto;
}

@mixin margini($verticali, $laterali) {
    margin: $verticali $laterali;
}

@mixin bottoni_blu {
    line-height: 35px;
    padding: 0 20px;
    color: #fff;
    font-size: $font_small_size;
    font-weight: $font_bold;
    background: $colore_sfondo_bottoni;
    border: none;
    border-radius: 7px;
    cursor:pointer;
}

@mixin bottone_bianco {
    line-height: 35px;
    padding: 0 20px;
    color: $colore_sfondo_bottoni;
    font-size: $font_small_size;
    font-weight: $font_bold;
    background: #fff;
    border: 1px solid $colore_sfondo_bottoni;
    border-radius: 7px;
    cursor:pointer;
}

@mixin bordo_separatore{
    border-bottom: 0.5px solid #bdb5af;
}

@mixin padding ($sopra, $lati) {
    padding: $sopra $lati;
}

@mixin icona_chat {
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $text_color_link;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
}

@mixin animation_hover {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
