body {
    font-family: $font_family;
    color: $font_color;
}

.page-wrapper {
    position: relative;
}


/*** INIZIO HEADER ***/
.head {
    max-width: $width_generale;
    @include centratura;
    @include bordo_separatore;
    height: 75px;
    font-size: $font_small_size;
    font-weight: $font_bold;
    display: flex;
    align-items: center;

    .logo {
        width: 10%;
    }

    .menu {
        @include my-flex(flex-end, center);
        list-style-type: none;
        width: 90%;

        li {
            display: inline-block;
            padding-left: 50px;
            cursor: pointer;
            @include animation_hover;

            button {
                @include bottone_bianco;
                @include animation_hover;
            }
        }

        li:hover {
            color: $font_color_hover;
        }

        li > button:hover {
            color: #fff;
            background-color: $colore_sfondo_bottoni_hover;
        }
        .solution {
            position: relative;
        }
        .solution:hover .sottomenu{
            display: block;
        }
        .sottomenu {
            @include sottomenu;

            li {
                @include padding(10px, 20px);
            }
        }
    }
}
/*** FINE HEADER ***/

/*** INIZIO JUMBOTRON ***/
.jumbo {
    max-width: $width_generale;
    @include margini(100px, auto);
    @include my-flex(space-between, center);

    .figura {
        float: right;
        img {
            max-width: $width_intermedia;
        }
    }
}

.section-jumbo {
    float: left;
    max-width: $width_intermedia;
    @include my-flex(space-between, flex-start);
    flex-direction: column;

    .text {
        h1 {
            font-size: $font_size_jumbo;
            font-weight: $font_bold;
        }
        h3 {
            font-size: $font_middle_size_jumbo;
            font-weight: 400;
        }
    }

    .buttons {
        @include my-flex(flex-start, center);

        button {
            @include bottoni_blu;
            @include animation_hover;
        }

        button:hover {
            background-color: $colore_sfondo_bottoni_hover;
        }

        p {
            @include margini (auto, 15px);
        }
    }

    .small-text > p {
        cursor: pointer;
        @include animation_hover;
    }
    .small-text > p:hover {
        color: $font_color_hover;
    }
}
/*** FINE JUMBOTRON ***/

/*** INIZIO PRIMA SEZIONE COLORATA ***/
.central {
    padding: 30px 0;
    background-color: #ffe7d2;

    .titolo {
        max-width: $width_header;
        @include centratura;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .description {
        @extend .titolo;
        max-width: $width_generale2;
        @include my-flex(center, center);
        .figura {
            width: calc(100% / 3);
            @include my-flex(center, center);
            flex-direction: column;
        }

    }

    .separatore {
        max-width: $width_generale2;
        @include centratura;
        @include bordo_separatore;
    }

    img {
        height: 110px;
        object-fit: contain;
    }

    .figura-centro {
        @extend .description;
        img {
            height: 300px;
        }
    }
}
/*** FINE PRIMA SEZIONE COLORATA ***/


/*** INIZIO SEZIONE IMMAGINI ***/
.left {
    @include my-flex(flex-start, baseline);

    .cont {
        @include my-flex(flex-start, flex-start);
        @include margini(80px, 0px);
        width: 100%;

        .fig {
            width: 52%;
            padding-left: 25px;
            img {
               max-width: $width_immagini_descrzione_grandi;
               float: right;
           }
        }
        .testo {
            width: 48%;
            padding-left: 20px;

            .titolo {
                max-width: 420px;
                margin-bottom: 50px;

                h1 {
                    font-size: $font_big_size;
                }

                h3 {
                    font-size: $font_middle_size_jumbo;
                    font-weight: 400;
                }

                h3:last-child {
                    color: $text_color_link;
                    cursor: pointer;
                }
            }

            img {
                text-align: center;
                max-width: $width_immagini_descrzione_piccole;
            }
        }
    }

}

.right {
    @extend .left;
    @include my-flex(flex-end, baseline);
    .cont .fig img {
        float: left;
    }
    .cont .testo {
        @include my-flex(flex-start, flex-end);
        flex-direction: column;
    }
}
/*** FINE SEZIONE IMMAGINI ***/

/*** INIZIO SEZIONE COLORATA 2 ***/
.due {
    @extend .titolo;

    .text-area {
        position: relative;
        max-width: $width_header;
        background-color: #fff;
        border-radius: 7px;
        border: 0.5px solid #bdb5af;
        @include margini(20px, auto);
        @include padding(20px, 40px);
        @include my-flex(flex-start, flex-start);
        flex-direction: column;
        .founders {
            @include my-flex(flex-start, center);

            img {
                max-width: 40px;
                max-height: 40px;
                padding-right: 10px;
            }
            .quotes small{
                display: block;
            }
        }
    }

    .text-area::after {
        content: '';
        display: block;
        background-image: url('../../../images/quote.svg');
        width: 37px;
        height: 39px;
        position: absolute;
        top: -23px;
        left: -1px;
    }

    .buttons {
        @include my-flex(center, center);
        @include padding(20px, 0);

        button {
            @include bottoni_blu;
            @include animation_hover;
        }

        button:hover {
            background-color: $colore_sfondo_bottoni_hover;
        }

        p {
            @include margini (auto, 15px);

        }
    }

    .small-text {
        @extend .buttons;
        @include animation_hover;
        cursor: pointer;
    }
    .small-text > p:hover {
        color: $font_color_hover;
    }
}
/*** FINE SEZIONE COLORATA 2 ***/

/*** INZIO FOOTER ***/
footer {
    max-width:$width_generale;
    @include padding(60px, 0);
    @include centratura;
    .help {
        float: left;
        @include my-flex(flex-start, center);
        width: 370px;
        img {
            width: 100px;
            margin-right: 10px;
        }
        p {
            font-weight: $font_bold;
        }
    }
    .info {
        float: left;
        width: calc(100% - 370px);
        @include my-flex(center, flex-start);
        .menu {
            list-style-type: none;
            width: calc(100% / 5);
            .first-voice {
                font-weight: $font_bold;
                font-size: $font_middle_size;
                padding-bottom: 30px;
            }
            li:not(.first-voice){
                padding-bottom: 20px;
                font-size: $font_small_size;
                cursor: pointer;
                @include animation_hover;
            }
            li:not(.first-voice):hover {
                color: $font_color_hover;
            }
        }
        .Blog {
            .first-voice {
                padding-bottom: 21px;
            }
            li:not(.first-voice){
                line-height: 2.4;
                padding-bottom: 5px;
            }
        }
    }
}
/*** FINE FOOTER ***/

.chat-icona {
    @include icona_chat;
    i {
        font-size: $font_big_size;
        right: 17px;
        position: absolute;
        top: 19px;
        color: #fff;
    }
}
