// dimensioni contenitori e titoli
$width_generale: 1150px;
$width_generale2: 860px;
$width_intermedia: 520px;
$width_header: 628px;

// dimensioni immagini sito
$width_immagini_piccole: 140px;
$width_immagini_medie: 570px;
$width_immagini_descrzione_grandi: 768px;
$width_immagini_descrzione_piccole: 270px;

// dimensioni e stile font sito
$font_family: 'Nunito Sans', sans-serif;
$font_small_size: 14px;
$font_middle_size: 18px;
$font_big_size: 26px;
$font_size_jumbo: 50px;
$font_middle_size_jumbo: 22px;
$font_bold: 600;

// colori dei font sito
$font_color: #58402c;
$font_color_hover: #30488F;
$text_color_link: #263972;

// colore degli sfondi sito
$colore_sfondi: #ffe7d2;
$colore_sfondo_bottoni: #30488f;
$colore_sfondo_bottoni_hover: #233569;
