html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #58402c;
}

.page-wrapper {
  position: relative;
}

/*** INIZIO HEADER ***/

.head {
  max-width: 1150px;
  margin: 0 auto;
  border-bottom: 0.5px solid #bdb5af;
  height: 75px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.head .logo {
  width: 10%;
}

.head .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  width: 90%;
}

.head .menu li {
  display: inline-block;
  padding-left: 50px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.head .menu li button {
  line-height: 35px;
  padding: 0 20px;
  color: #30488f;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  border: 1px solid #30488f;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.head .menu li:hover {
  color: #30488F;
}

.head .menu li > button:hover {
  color: #fff;
  background-color: #233569;
}

.head .menu .solution {
  position: relative;
}

.head .menu .solution:hover .sottomenu {
  display: block;
  transition: opacity linear 0.15s;
}

.head .menu .sottomenu {
  position: absolute;
  top: 22px;
  left: 40px;
  padding-left: 0;
  display: none;
  z-index: 5;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #e1ddd4;
  border-radius: 7px;
}

.head .menu .sottomenu li {
  padding: 10px 20px;
}

/*** FINE HEADER ***/

/*** INIZIO JUMBOTRON ***/

.jumbo {
  max-width: 1150px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbo .figura {
  float: right;
}

.jumbo .figura img {
  max-width: 520px;
}

.section-jumbo {
  float: left;
  max-width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.section-jumbo .text h1 {
  font-size: 50px;
  font-weight: 600;
}

.section-jumbo .text h3 {
  font-size: 22px;
  font-weight: 400;
}

.section-jumbo .buttons,
.section-jumbo .due .small-text,
.due .section-jumbo .small-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-jumbo .buttons button,
.section-jumbo .due .small-text button,
.due .section-jumbo .small-text button {
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #30488f;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.section-jumbo .buttons button:hover,
.section-jumbo .due .small-text button:hover,
.due .section-jumbo .small-text button:hover {
  background-color: #233569;
}

.section-jumbo .buttons p,
.section-jumbo .due .small-text p,
.due .section-jumbo .small-text p {
  margin: auto 15px;
}

.section-jumbo .small-text > p {
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.section-jumbo .small-text > p:hover {
  color: #30488F;
}

/*** FINE JUMBOTRON ***/

/*** INIZIO PRIMA SEZIONE COLORATA ***/

.central {
  padding: 30px 0;
  background-color: #ffe7d2;
}

.central .titolo,
.central .due,
.central .description,
.central .figura-centro {
  max-width: 628px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.central .description,
.central .figura-centro {
  max-width: 860px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.central .description .figura,
.central .figura-centro .figura {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.central .separatore {
  max-width: 860px;
  margin: 0 auto;
  border-bottom: 0.5px solid #bdb5af;
}

.central img {
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

.central .figura-centro img {
  height: 300px;
}

/*** FINE PRIMA SEZIONE COLORATA ***/

/*** INIZIO SEZIONE IMMAGINI ***/

.left,
.right {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.left .cont,
.right .cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 80px 0px;
  width: 100%;
}

.left .cont .fig,
.right .cont .fig {
  width: 52%;
  padding-left: 25px;
}

.left .cont .fig img,
.right .cont .fig img {
  max-width: 768px;
  float: right;
}

.left .cont .testo,
.right .cont .testo {
  width: 48%;
  padding-left: 20px;
}

.left .cont .testo .titolo,
.left .cont .testo .due,
.right .cont .testo .titolo,
.right .cont .testo .due,
.left .cont .testo .central .description,
.right .cont .testo .central .description,
.central .left .cont .testo .description,
.central .right .cont .testo .description,
.left .cont .testo .central .figura-centro,
.right .cont .testo .central .figura-centro,
.central .left .cont .testo .figura-centro,
.central .right .cont .testo .figura-centro {
  max-width: 420px;
  margin-bottom: 50px;
}

.left .cont .testo .titolo h1,
.left .cont .testo .due h1,
.right .cont .testo .titolo h1,
.right .cont .testo .due h1,
.left .cont .testo .central .description h1,
.right .cont .testo .central .description h1,
.central .left .cont .testo .description h1,
.central .right .cont .testo .description h1,
.left .cont .testo .central .figura-centro h1,
.right .cont .testo .central .figura-centro h1,
.central .left .cont .testo .figura-centro h1,
.central .right .cont .testo .figura-centro h1 {
  font-size: 26px;
}

.left .cont .testo .titolo h3,
.left .cont .testo .due h3,
.right .cont .testo .titolo h3,
.right .cont .testo .due h3,
.left .cont .testo .central .description h3,
.right .cont .testo .central .description h3,
.central .left .cont .testo .description h3,
.central .right .cont .testo .description h3,
.left .cont .testo .central .figura-centro h3,
.right .cont .testo .central .figura-centro h3,
.central .left .cont .testo .figura-centro h3,
.central .right .cont .testo .figura-centro h3 {
  font-size: 22px;
  font-weight: 400;
}

.left .cont .testo .titolo h3:last-child,
.left .cont .testo .due h3:last-child,
.right .cont .testo .titolo h3:last-child,
.right .cont .testo .due h3:last-child,
.left .cont .testo .central .description h3:last-child,
.right .cont .testo .central .description h3:last-child,
.central .left .cont .testo .description h3:last-child,
.central .right .cont .testo .description h3:last-child,
.left .cont .testo .central .figura-centro h3:last-child,
.right .cont .testo .central .figura-centro h3:last-child,
.central .left .cont .testo .figura-centro h3:last-child,
.central .right .cont .testo .figura-centro h3:last-child {
  color: #263972;
  cursor: pointer;
}

.left .cont .testo img,
.right .cont .testo img {
  text-align: center;
  max-width: 270px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.right .cont .fig img {
  float: left;
}

.right .cont .testo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

/*** FINE SEZIONE IMMAGINI ***/

/*** INIZIO SEZIONE COLORATA 2 ***/

.due .text-area {
  position: relative;
  max-width: 628px;
  background-color: #fff;
  border-radius: 7px;
  border: 0.5px solid #bdb5af;
  margin: 20px auto;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.due .text-area .founders {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.due .text-area .founders img {
  max-width: 40px;
  max-height: 40px;
  padding-right: 10px;
}

.due .text-area .founders .quotes small {
  display: block;
}

.due .text-area::after {
  content: "";
  display: block;
  background-image: url(/images/quote.svg?a6c807e96fb4e8f212ba8aa7fe641214);
  width: 37px;
  height: 39px;
  position: absolute;
  top: -23px;
  left: -1px;
}

.due .buttons,
.due .small-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.due .buttons button,
.due .small-text button {
  line-height: 35px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: #30488f;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.due .buttons button:hover,
.due .small-text button:hover {
  background-color: #233569;
}

.due .buttons p,
.due .small-text p {
  margin: auto 15px;
}

.due .small-text {
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.due .small-text > p:hover {
  color: #30488F;
}

/*** FINE SEZIONE COLORATA 2 ***/

/*** INZIO FOOTER ***/

footer {
  max-width: 1150px;
  padding: 60px 0;
  margin: 0 auto;
}

footer .help {
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 370px;
}

footer .help img {
  width: 100px;
  margin-right: 10px;
}

footer .help p {
  font-weight: 600;
}

footer .info {
  float: left;
  width: calc(100% - 370px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer .info .menu {
  list-style-type: none;
  width: calc(100% / 5);
}

footer .info .menu .first-voice {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 30px;
}

footer .info .menu li:not(.first-voice) {
  padding-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

footer .info .menu li:not(.first-voice):hover {
  color: #30488F;
}

footer .info .Blog .first-voice {
  padding-bottom: 21px;
}

footer .info .Blog li:not(.first-voice) {
  line-height: 2.4;
  padding-bottom: 5px;
}

/*** FINE FOOTER ***/

.chat-icona {
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #263972;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);
}

.chat-icona i {
  font-size: 26px;
  right: 17px;
  position: absolute;
  top: 19px;
  color: #fff;
}

